header {
  display: flex;
  height: 200px;
  align-items: center;
  margin: 10px auto;
  position: relative;
  width: 1000px;


  .banner {
    position: absolute;
    height: 200px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .logo {
    position: absolute;
    bottom: -77px;
    left: 50px;
    z-index: 2;

    img {
      border: 4px solid #fff;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  .text {
    position: absolute;
    z-index: 2;
    margin-left: 10px;
    left: 200px;
    bottom: -36px;
    font-weight: 800;
    font-size: 28px;
  }

  .search-box {
    position: absolute;
    width: 300px;
    /* 可以根據需求調整寬度 */
    z-index: 2;
    right: 8px;
    bottom: -40px;

    .search-container {
      position: relative;
    }

    .search-input {
      width: 100%;
      padding: 6px 0 6px 6px;
      /* 左側留出空間來放置放大鏡圖示 */
      border: 1px solid #666;
      border-radius: 5px;
      font-size: 16px;

      &:active,
      &:focus,
      &:focus-visible {
        outline: 1px solid #666;
      }
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      /* 垂直居中 */
      background: none;
      border: none;
      &:hover {
        cursor: pointer;
        color: #666;  
      }
    }

    .search-icon i {
      font-size: 20px;
      /* 控制放大鏡圖示大小 */
    }
  }


}